boby{
    background-color: rgb(58, 57, 57);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: palevioletred;
    
}
header{
    background-color: rgb(25, 26, 26);
    color: aliceblue;
}
nav{
    background-color: rgb(18, 34, 49);
}
nav .n .barra1{
    align-items: ;
}